<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="'annyeong, ' + ${person.name}+ '!'+ 'age'+${person.age}"/>
<p id="name"></p>
<p id="age"></p>
</body>
<script>
    const header = new Headers();
    header.append('Content-Type', 'application/json');

    fetch('/api/person', header)
    .then(response => response.json())
    .then(response => {
        console.log(response);
        const personResponse = response;
        document.getElementById('name').innerText = personResponse.data.name;
        document.getElementById('age').innerText = personResponse.data.age;

    })
    .catch(error => {
        console.error(error);

    });

    console.log('called api');
</script>
</html>